.navbar {
    height: 100px;
  
    .wrapper {
      max-width: 1366px;
      display: flex;
      margin-left: 7rem;
      justify-content: space-around;
      align-items: center;
      height: 100px;
      gap: 300px;
      color: #b8860b;
  
      span {
        font-weight: bold;
        font-size: 1.5rem;
        
      }
  
      .social {
        display: flex;
        gap: 1rem;
        margin-right: 20px;
  
        a {
          width: 30px;
          height: 30px;
          display: flex;
          color: lightgray;
          transition: transform 0.2s;
  
          &:hover {
            transform: scale(1.1);
          }
  
          img {
            width: 30px;
            height: auto;
          }
  
          // Ensure the LinkedIn logo has a different size
          img[src="/linkedin-logo.png"] {
            width: 180px !important;
          }
        }
      }
    }
  }
  