.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fffaf0;
    .bg {
        width: 300px;
        top: 0;
        left: 0;
        bottom: 0;
        position: fixed;
        background-color: #70664b;
        color: #1f06fd;

        .links {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            a{
                font-size: 40px;
            }
        }
    }
    button {
        width: 50px;
        height: 50px;
        position: fixed;
        border-radius: 50%;
        top: 25px;
        left: 25px;
        background: transparent;
        border: none;
        cursor: pointer;

    }
}