.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fffaf0;
    .bg {

        .links {

        }
    }
    button {

    }
}